/tmp2/jalopy-console-0.1-1.5rc3.zip
/tmp2/jhead.exe
/tmp2/jpilliet-dalvik-292-282cf76eb4e4.zip
/MagicPath.zip
/tmp2/uptodown-android-3-55.apk
/tmp2/2/jalopy-console-0.1-1.5rc3.zip
.idea/Filepath.iml
*.apk
run.py
MagicPath/MagicPath/__pycache__/__init__.cpython-37.pyc
MagicPath/__pycache__/__init__.cpython-37.pyc
.idea/Filepath.iml
